.head_wrap,.second_wrap,#logo,.nav,.shop_wrap{
	width: 1470px !important;
	margin: 0 auto;
	
}
body{
	background: #CCCCCC;
}
/*head*/
.open{
	display:block !important;
	z-index: 10;
}
#head{
	background:black;
	
}
.head_wrap{
	height: 35px;
}
#li1{
	margin-left: 130px;
	
}
#li1 li a{
	float: left;
	margin:5px 5px 0 10px;
	color:#fff;
}
#li3{
	position: absolute;
	left: 894px;
	top: 28px;
	display: none;
	z-index: 10;
}
.fi  a:hover { 
	background: pink;
}
#li4{
	position: absolute;
	left: 1065px;
	top:28px;
	display: none;
	z-index: 10;
}
#li4 li{
	width: 120px;
	height: 45px;
	background: #FFFDEF;
	text-align:center;
	line-height: 45px;
	border: 1px solid #000000;
	color: #000;
	
}
#li4 li a{
	display: block;
	width: 100px;
	color: #000 !important;
	
}
#li4  a:hover{
	background: pink;
}
#li6 li a{
	display: block;
	width: 100px;
	color: #000 !important;
	
}
#li6 a:hover{
	background: pink;
}
#li5 li a{
	display: block;
	width: 100px;
	color: #000 !important;
	
}
#li5  a:hover{
	background: pink;
}

#li5{
	position: absolute;
	left: 1149px;
	top: 28px;
	display: none;
}
#li5 li{
	width: 120px;
	height: 45px;
	background: #FFFDEF;
	text-align:center;
	line-height: 45px;
	border: 1px solid #000000;
	
}

#li6{
	position: absolute;
	left: 1269px;
	top: 28px;
	display:none;
}
#li6 li{
	width: 120px;
	height: 45px;
	background: #FFFDEF;
	text-align:center;
	line-height: 45px;
	border: 1px solid #000000;
	
}


#li2{
	padding: 5px 10px 0 5px;
	margin-left:900px;
}
#li2 li a{
	float: left;
	padding-left: 20px;
	color:#FFFFFF;
	
}

#li3 li{
	width: 120px;
	height: 45px;
	background: #FFFDEF;
	text-align:center;
	line-height: 45px;
	border: 1px solid #000000;
	
}
#li3 li a{
	display: block;
	width: 100px;
	color: #000;
}


#li3 em{
	font-size: 20px !important;
}

/*second*/
#second{
	 background: #0c86ba;
	 height: 116px;
	
}
.second_wrap img{
	margin-left: -225px;
	position: absolute;
	left: 50%;
	display: block;	
}
/*logo*/
#logo{
	height: 75px;
}
#logo img{
	display: block;
	float: left;
	padding-top: 10px;
	margin-left:126px;
}
#t1{
	display: block;
	float: left;
	margin: 15px 0 0 165px;
	height: 35px;
	width: 660px;
	border:  2px solid #de3c5b;
}
#btn1{
	display: block;
	width: 110px;
	height: 37px;
	background: #de3c5b;
	border: 1px solid #de3c5b;
	float: left;
	margin-top: 15px;
}
#logo em{
	position: absolute;
	font-size: 34px !important;
	right: 324px;
	top: 168px;
	color: #FFFFFF;
}
.gwc{
	display: block;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	background:#de3c5b;
	float: left;
	margin-top: 13px;
	margin-left: 20px;
	color: #FFFDEF;
	text-align: center;
	line-height: 40px;
}
.rs{
	position: absolute;
	top: 210px;
	left: 460px;
	color: #968888;
	
}
.rs span{
	float: left;
}
.rs  li {
	float: left;
	margin-left: 15px;
	border-right: 2px solid #968888;
	padding-right: 10px;
	
}
.rs a{
	color: #968888;
}
.rs li:last-child{
	border: none;
}

/*nav*/
#head_nav{
	background: #de3c5b;
	margin-top: 30px;
}
.nav{
	height: 55px;	
}
.nav1{
	margin-left: 93px;
}
.nav1 li a{
	display: block;
	height: 55px;
	float: left;
	width: 85px;
	text-align: center;
	line-height: 55px;
	margin: 0 2px 0 2px;
	color: #FFFFFF;
	font-size: 16px;	
}
.nav1 li em{
	font-size: 20px !important;
}
.a1{
	
	
}
.nav1 a:hover{
	background:#bf0024;;
}
.nav2{
	margin-left: 380px !important;
}
.hot{
	height: 15px;
	width: 30px;
	background: #FFFFFF;
	color: #bf0024 ;
	position: absolute;
	text-align: center;
	line-height: 15px;
	top: 266px;
	left: 888px;
	border-radius: 5px;
	font-size: 12px;
}
.wrapper{
	
	height: 360px;
	
	
}
.wrap1 {
	position: relative;
}
.wrap1 li {
	width: 100%;
    height: 360px;
	position: absolute;
	left:0px ;
	
	
}
.wrap1 li img{
	position: absolute;
	left: 50%;
	margin-left: -373px;
}
ol {
	position: absolute;
	left: 700px;
	bottom: 134px;
	width: 190px;
}
ol li {
	float: left;
	width: 15px;
	height: 15px;
	margin: 0 10px;
	text-align: center;
	border-radius: 50%;
	
	cursor: default;
	background-color: #CCCCCC;
}
ol li.current {
	background-color: orange;
}
.hotadd{
	width: 300px;
	height:360px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 310px;
	left: 95px;
	z-index: 10;
	padding-left: 15px;
	
}
.hotadd h2{
	margin: 10px 0 8px 0px;
	color: #FFFFFF;
	
}
.hotadd li{
	float: left;
	margin-right: 65px;
	margin-bottom: 5px;
}
.hotadd a{
	color: #FFFF;
}
.hot1{
	float: left;
}
.hot2{
	float: left;
}
.hot3{
	float: left;
}
.hot4{
	width: 300px;
	height:360px;
	background: #FFFFFF;
	position: absolute;
	z-index: 10;
	left: 1060px;
}
.hot4 img{
	display: block;
	border-radius: 50%;
	margin-left: 108px;
	
	
}
.hot5 span{
	color: #fff;
	margin: 0 0 0 110px;
	font-size: 18px;
}
.hot5{
	width: 300px;
	height: 105px;
	background: #000000;
	padding-top: 5px;	
}
.hot6 li a{
	display: block;
	width: 300px;
	height: 30px;
	float: left;
	text-align: center;
	line-height:30px ;
	font-size: 16px;
}
.hot6 a{
	color: #000;
}
.hot6 li{
	border-bottom: 1px solid #CCCCCC;
}
.hot6 li:last-child{
	border: none;
}
.hot6 li:hover{
	background: #CCCCCC;
}
.right1{
	display: block;
	position: fixed;
	z-index: 10;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background: #FFFF;
	top: 300px;
	right: 0;
	text-align: center;
	line-height: 25px;
	color: #777777;
}

.aa{
	top: 360px;
}
.bb{
	top: 420px;
}
.right2{
	display: none;
	width: 40px;
	height: 40px;
	background: #000000;
	border-radius: 50%;
	position: fixed;
    right:50px;
    bottom:10px;
    
}
.right2 em{
	font-size: 40px !important;
	font-weight: 1000;
}

/*shopp*/
/*.shop_wrap{
	width: 1300px;
	height: 600px;
	background: #FFFFFF;

	position: relative;
}
*/
.jianjie{
	
}
.jianjie p{
	color: #e93b78;
	font-size: 18px;
	padding-top: 30px;
}
.jianjie span{
	color: #555555;
	font-size: 18px;
}
.tgou{
	position: relative;
}
.tgou em{
	color:#ff4c66 !important ;
}
.tgou p{
	color: #8a6d3b;
}
.tgou span{
	color:#8a6d3b ;
	margin-top: 20px;
}
.ht{
	position: absolute;
	display: block;
	width: 65px;
	height: 20px;
	background: #666;
	color: #FFFFFF;
	top: 21px;
	left:240px;
	text-align: center;
	line-height: 20px;
}
.by{
	display: block;
	width:40px;
	height: 20px;
	background: #337ab7;
	position: absolute;
	top: -30px;
	right: 300px;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
}
.yhq{
	display: block;
	width: 50px;
	height: 20px;
	background: #d9534f;
	position: absolute;
	top: -30px;
	right: 240px;
	border-radius: 5px;
	color: #FFFFFF;
}
.jieshao{
	margin: 10px 0 10px 0;
}
.jieshao p{
	display: block;
	width: 800px;
	line-height: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.gouwu{
	display: block;
	width: 150px;
	height: 50px;
	background: #d9534f;
	position: absolute;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height:50px;
	border-radius: 50px;
	top: 356px;
	left: 0px;
	
}
.kefu{
	position: absolute;
	display: block;
	width: 100px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
	color: #000;
	background: #FFFFFF;
	left: 746px;
	top: 380px;
		
}

.c{
	display: block;
	width: 80px;
	height: 30px;
	background: #fff;
	border: 1px solid #ccc;
	color: #000000;
	text-align: center;
	line-height: 30px;
	position: absolute;
	border-radius: 10px;
}
.c1{
	top: 398px;
	left: -357px;
}
.c2{
	top: 398px;
	left: -240px;
}
.c3{
	top: 398px;
	left: -110px;
}
.c:hover{
	background: #CCCCCC;
}
.shop_wrap{
	width: 1300px;
	height: 600px;
	background: #FFFFFF;
	margin-top: 10px;
	
}


.xq_wrap{
	float: left;
	margin-left: 26px;
	margin-top: 15px;
}





.gonglue{
	width: 400px;
	position: absolute;
	top: 930px;
	right: 30px;
	background: #FFFFFF;
}
.gonglue img{
	display: block;
	width: 280px;
	height: 160px;
	margin-left: 60px;
	margin-top: 20px;
}
.gonglue span{
	display: block;
	width: 390px;
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 18px;
	margin-bottom: 20px;
	
	line-height: 40px;
	padding-left:10px;
}
.gonglue p{
	color: #777;
	margin-left: 60px;
}

/*footer*/

.footer_wrap{
	float: left;
	width: 100%;
	margin: 0 auto;
	height: 200px;
	background: #333;
	color: #fff;
}
.footer_wrap a{
	color: #FFFFFF;
	margin-left: 40px;
}
.ab1{
	margin-left: 455px;

}
.ab2{
	margin-left:590px;
	margin-top: 30px;
}
.ab3{
	margin-left: 500px;
	margin-top: 30px;
}
.ab4{
	margin-left: 590px;
	margin-top: 30px;
}


#box{
	width: 400px;
	height:400px;
	margin-left: 100px;
	/*border: 1px solid #666*/;
	position: relative;
	
}
#big{
	width:400px;
	height:400px;
	border:1px solid #CCCCCC;
	position:absolute;
	top : 0px;
	left : 350px;
	overflow:hidden;
	background: #fff;
	z-index: 10;
	/*display: none;	*/	
}
#mask{
	width:170px;
	height:170px;
	background:pink;
	opacity:0.3;
	position:absolute;
	top:0;
	left:0;
	cursor:move;
	display:none
}
#small{
	position:relative;
}
#smallImg{
	display: block;
	width: 350px;
	height: 350px;
	border:  1px solid #CCCCCC;
}
	
 #bigImg{
	position:absolute;
	width: 900px;
	height: 800px;
	left:0px;
	top:0px;
	
	
	
}

.t1{
	position: absolute;
	top: 330px;
	left: 490px;
	width:1000px;
	
}
